<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Scenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let scene of (sceneManager.scenes$ | async)">
      <ion-label>{{ scene.name }}</ion-label>
      <ion-button (click)="openScene(scene.id)">Open</ion-button>
      <ion-button (click)="deleteScene(scene.id)" color="danger">Delete</ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createScene()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
