<div *ngIf="selectedObject">
  <ion-list>
    <ion-item>
      <ion-label>Position</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>X</ion-label>
      <ion-input type="number" [value]="selectedObject.position.x" (ionChange)="onPositionChange('x', $event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Y</ion-label>
      <ion-input type="number" [value]="selectedObject.position.y" (ionChange)="onPositionChange('y', $event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Z</ion-label>
      <ion-input type="number" [value]="selectedObject.position.z" (ionChange)="onPositionChange('z', $event)"></ion-input>
    </ion-item>
  </ion-list>
</div>
