<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Model Library</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let model of (modelManager.models$ | async)">
      <ion-thumbnail slot="start">
        <img [src]="model.thumbnailUrl" />
      </ion-thumbnail>
      <ion-label>{{ model.name }}</ion-label>
      <ion-button (click)="openModel(model.id)">Open</ion-button>
      <ion-button (click)="deleteModel(model.id)" color="danger">Delete</ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
