<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navigateTo('model-library')">Model Library</ion-item>
      <ion-item (click)="navigateTo('scenes')">Scenes</ion-item>
      <ion-item (click)="navigateTo('model-editor')">Model Editor</ion-item>
      <ion-item (click)="navigateTo('scene-editor')">Scene Editor</ion-item>
      <ion-item (click)="navigateTo('settings')">Settings</ion-item>
      <ion-item (click)="navigateTo('help')">Help</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
